Mind-small dataset

Mj√∂lnir Software Alchemists

In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
#path to the mindsmall training data
training_dataset = 'MINDsmall_train'
validation_dataset = 'MINDsmall_train'

entity_embedding = pd.read_csv("MINDsmall_train/entity_embedding.vec", sep='\t', header=None)
relation_embedding = pd.read_csv("MINDsmall_train/relation_embedding.vec", sep='\t', header=None)
news_data = pd.read_csv("MINDsmall_train/news.tsv", sep='\t')
behaviors_data = pd.read_csv("MINDsmall_train/behaviors.tsv", sep='\t')

In [4]:
print(entity_embedding.head())
print(relation_embedding.head())
print(news_data.head())
behaviors_data.head()

      0         1         2         3         4         5         6    \
0     Q41 -0.063388 -0.181451  0.057501 -0.091254 -0.076217 -0.052525
1   Q1860  0.060958  0.069934  0.015832  0.079471 -0.023362 -0.125007
2  Q39631 -0.093106 -0.052002  0.020556 -0.020801  0.043180 -0.072321
3     Q30 -0.115737 -0.179113  0.102739 -0.112469 -0.101853 -0.177516
4     Q60 -0.051036 -0.165637  0.132802 -0.089949 -0.146637 -0.142246

        7         8         9    ...       92        93        94        95   \
0  0.050500 -0.224871 -0.018145  ...  0.001861  0.124535 -0.151043 -0.263698
1 -0.043618  0.134063 -0.121691  ... -0.014287  0.013578  0.099977  0.012199
2  0.000910  0.028156  0.176303  ... -0.086840 -0.078992 -0.062712  0.051117
3  0.015860 -0.092626  0.086708  ...  0.080511 -0.000085 -0.089968 -0.083486
4  0.103853 -0.129651  0.096265  ...  0.078628  0.003711 -0.058953 -0.154067

        96        97        98        99        100  101
0 -0.103607  0.020007 -0.101157 -0.091567  0.035234  NaN
1 -0.141138  0.056129 -0.133727  0.025795  0.051448  NaN
2 -0.184307  0.127637 -0.144866  0.044690  0.013498  NaN
3 -0.149992 -0.053031 -0.136071 -0.029001  0.174155  NaN
4 -0.117159 -0.031614 -0.140451  0.001288  0.140350  NaN

[5 rows x 102 columns]
    0         1         2         3         4         5         6         7    \
0   P31 -0.073467 -0.132227  0.034173 -0.032769  0.008289 -0.107088 -0.031712
1   P21 -0.078436  0.108589 -0.049429 -0.131355  0.049300 -0.094605 -0.101469
2  P106 -0.052137  0.052444 -0.019886 -0.152309  0.014144 -0.180491 -0.132198
3  P735 -0.051398  0.056219  0.068029 -0.137717 -0.030050  0.061566 -0.103184
4  P108  0.091231  0.022526  0.059349 -0.141853  0.035025 -0.111040 -0.127337

        8         9    ...       92        93        94        95        96   \
0 -0.039581  0.101882  ... -0.050068 -0.053686 -0.045389 -0.037017  0.117190
1  0.127802 -0.081245  ...  0.074341 -0.030571 -0.137183  0.045598 -0.151155
2  0.063082  0.085229  ... -0.058958 -0.032021 -0.147213  0.082776 -0.169705
3 -0.074124 -0.118975  ... -0.092234  0.056870  0.013640  0.042696  0.013683
4  0.047645 -0.172328  ... -0.046994 -0.056248 -0.146538  0.121375 -0.211757

        97        98        99        100  101
0 -0.063597 -0.056910  0.058387 -0.114056  NaN
1 -0.066223  0.057489  0.130188 -0.054801  NaN
2  0.122445 -0.054737  0.055321  0.070961  NaN
3 -0.021127 -0.189257  0.055315  0.101863  NaN
4  0.077591 -0.002200 -0.053880  0.140873  NaN

[5 rows x 102 columns]
   N55528 lifestyle lifestyleroyals  \
0  N19639    health      weightloss
1  N61837      news       newsworld
2  N53526    health          voices
3  N38324    health         medical
4   N2073    sports    football_nfl

  The Brands Queen Elizabeth, Prince Charles, and Prince Philip Swear By  \
0                      50 Worst Habits For Belly Fat
1  The Cost of Trump's Aid Freeze in the Trenches...
2  I Was An NBA Wife. Here's How It Affected My M...
3  How to Get Rid of Skin Tags, According to a De...
4  Should NFL be able to fine players for critici...

  Shop the notebooks, jackets, and more that the royals can't live without.  \
0  These seemingly harmless habits are holding yo...
1  Lt. Ivan Molchanets peeked over a parapet of s...
2  I felt like I was a fraud, and being an NBA wi...
3  They seem harmless, but there's a very good re...
4  Several fines came down against NFL players fo...

   https://assets.msn.com/labs/mind/AAGH0ET.html  \
0  https://assets.msn.com/labs/mind/AAB19MK.html
1  https://assets.msn.com/labs/mind/AAJgNsz.html
2  https://assets.msn.com/labs/mind/AACk2N6.html
3  https://assets.msn.com/labs/mind/AAAKEkt.html
4  https://assets.msn.com/labs/mind/AAJ4lap.html

  [{"Label": "Prince Philip, Duke of Edinburgh", "Type": "P", "WikidataId": "Q80976", "Confidence": 1.0, "OccurrenceOffsets": [48], "SurfaceForms": ["Prince Philip"]}, {"Label": "Charles, Prince of Wales", "Type": "P", "WikidataId": "Q43274", "Confidence": 1.0, "OccurrenceOffsets": [28], "SurfaceForms": ["Prince Charles"]}, {"Label": "Elizabeth II", "Type": "P", "WikidataId": "Q9682", "Confidence": 0.97, "OccurrenceOffsets": [11], "SurfaceForms": ["Queen Elizabeth"]}]  \
0  [{"Label": "Adipose tissue", "Type": "C", "Wik...
1                                                 []
2                                                 []
3  [{"Label": "Skin tag", "Type": "C", "WikidataI...
4  [{"Label": "National Football League", "Type":...

                                                  []
0  [{"Label": "Adipose tissue", "Type": "C", "Wik...
1  [{"Label": "Ukraine", "Type": "G", "WikidataId...
2  [{"Label": "National Basketball Association", ...
3  [{"Label": "Skin tag", "Type": "C", "WikidataI...
4  [{"Label": "National Football League", "Type":...

,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N10414 N19347 N31801,N55689-1 N35729-0
0,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
1,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
2,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
3,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...
4,6,U19739,11/11/2019 6:52:13 PM,N39074 N14343 N32607 N32320 N22007 N442 N19001...,N21119-1 N53696-0 N33619-1 N25722-0 N2869-0